@import "colors-waybar.css";

/*---ОБЩЕЕ--------------------------------------------------------*/
* {
    font-family: JetBrainsMono;
    font-size: 15px;
    font-weight: bold;

    
}

/*---БАР--------------------------------------------------------*/

window#waybar {
    background-color: rgba(0,0,0,0);
}


/*---TOOLTIP--------------------------------------------------------*/
tooltip {
    background-color: @background;
    border: 2px solid;
    border-color: @foreground;
}

/*-Надпись-*/
tooltip label {
    color: @foreground;
}


/*---ОСНОВНЫЕ МОДУЛИ--------------------------------------------------------*/
#custom-logo,
#clock,
#window,
#workspaces,
#workspaces button,
#tray,
#language,
#custom-micro,
#custom-music.
#custom-music1,
#custom-mako,
#custom-cava,
#custom-swaync,
#custom-powermenu,
#pulseaudio {
    border-radius: 7px;
    background-color: @background;
    padding: 0 7.5px;
    margin: 5px;
	  font-size: 17px;
    color: @foreground;
}

#language {
    padding-right: 10px;
    padding-left: 10px;

}


#custom-weather,
#clock {
    background-color: @background;
	  font-size: 19px;
    color: @foreground;
}


#custom-powermenu {
    padding-left: 11.5px;
    padding-right: 12px;
	  margin-right: 1px;
	  font-size: 18px;
}


#custom-weather,
#clock,
#custom-logo {
    color: @foreground;

}


#custom-micro {
    font-size: 20px;
}

#custom-logo {

    padding: 8.5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 17px;
    margin-left: 7.5px;
    margin-right: 1.5px;
}



#custom-weather {
    margin-left: 7.5px;

}


#workspaces button.urgent {

    background-color: #eb4d4b;
}

#custom-test {
    color: red;    
    background-color: yellow;
    background-color: @background;
    padding: 8.5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 17px;
    border-radius: 12px;
}
