* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

window#waybar {
  background: transparent;
}

/* #workspaces,
#pulseaudio,
#clock,
#custom-launch,
#memory {
  border-radius: 10px;
  background-color: #5F3E3E;
  margin: 5px;
  color: #fff;
} */

#clock,
#memory,
#pulseaudio {
  margin-left: 10px;
}

#workspaces button.active {
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button:hover {
  background-color: gray;
  border-radius: 10px;
}

#workspaces button.focused {
  background-color: #fff;
  color: #000;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* #custom-launch {
  border-radius: 10px;
  margin-left: 12px;
  padding: 0 12px 0 12px;
  background-color: red;
} */

#custom-launch button:hover {
  background: red;
}

#custom-launch {
  padding: 1rem 11px 1rem 11px;
}

#pulseaudio {
  padding: 0 8px 0 8px;
}

#clock {
  padding: 1rem 11px 1rem 11px;
}
